Test22.xcodeproj/project.xcworkspace/xcuserdata/Vladislav.xcuserdatad/UserInterfaceState.xcuserstate
Test22.xcodeproj/xcuserdata/Vladislav.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Test22.xcodeproj/xcuserdata/Vladislav.xcuserdatad/xcschemes/Test22 2.xcscheme
Test22.xcodeproj/xcuserdata/Vladislav.xcuserdatad/xcschemes/Test22 4.xcscheme
Test22.xcodeproj/xcuserdata/Vladislav.xcuserdatad/xcschemes/Test22.xcscheme
Test22.xcodeproj/xcuserdata/Vladislav.xcuserdatad/xcschemes/xcschememanagement.plist
